<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<!--     Fonts and icons     -->
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link
	href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
	rel="stylesheet" />
<link
	th:href="@{/assets/plugins/custom/datatables/datatables.bundle.css}"
	rel="stylesheet" type="text/css" />

<link
	th:href="@{/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css}"
	rel="stylesheet" type="text/css" />

<link th:href="@{/assets/plugins/global/plugins.bundle.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/assets/plugins/custom/prismjs/prismjs.bundle.css}"
	rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/style.bundle.css}" rel="stylesheet"
	type="text/css" />

<link th:href="@{/assets/css/custom.css}" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" th:href="@{/assets/media/logos/favicon.ico}" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- <script th:src="@{/js/custom.js}"></script> -->
</head>
<body id="kt_body"
	class="quick-panel-right demo-panel-right offcanvas-right header-fixed header-mobile-fixed aside-enabled aside-static page-loading">
	<!--begin::Main-->
	<!--begin::Header Mobile-->
	<div th:replace="layout_fragments/header_mobile :: header_mobile"></div>
	<!--end::Header Mobile-->

	<div class="d-flex flex-column flex-root">

		<div class="d-flex flex-row flex-column-fluid page">
			<!--begin::Aside-->
			<div th:replace="layout_fragments/sidebar :: sidebar"></div>

			<!--end::Aside-->

			<!--begin::Wrapper-->
			<div class="d-flex flex-column flex-row-fluid wrapper"
				id="kt_wrapper">
				<!--begin::Header-->
				<div th:replace="layout_fragments/navbar :: navbar"></div>
				<!--end::Header-->
				<!--begin::Content-->
				<div class="content d-flex flex-column flex-column-fluid"
					id="kt_content">
					<div layout:fragment="content-subheader"></div>

					<!--begin::Entry-->
					<div class="d-flex flex-column-fluid">
						<div layout:fragment="content"></div>
					</div>
					<!--end::Entry-->
				</div>
				<!--end::Content-->
				<!--begin::Footer-->
				<div th:replace="layout_fragments/footer :: footer"></div>
				<!--end::Footer-->
			</div>
			<!-- end::Wrapper -->

		</div>
		<!-- end::Page -->
	</div>
	<!-- end::Main -->
	<!-- begin::Notifications Panel-->
	<!-- <div
		th:replace="layout_fragments/notification_panel :: notification_panel"></div> -->

	<!-- end::Notifications Panel-->
	<!-- begin::User Panel-->
	<div th:replace="layout_fragments/user_panel :: user_panel"></div>
	<!-- end::User Panel-->
	<div th:replace="layout_fragments/scroll_top :: scroll_top"></div>

	<div id="mainoverlay" style="display: block;">
			<div class="customspinner"></div>
			<br /> Loading...
	</div>

	<!--end::Demo Panel-->
	<script>
	  $(window).on('load', function () {
		  $('#mainoverlay').hide();
	  }) 
	</script>
	<!--begin::Global Config(global config for global JS scripts)-->
	<script>
		var KTAppSettings = {
			"breakpoints" : {
				"sm" : 576,
				"md" : 768,
				"lg" : 992,
				"xl" : 1200,
				"xxl" : 1200
			},
			"colors" : {
				"theme" : {
					"base" : {
						"white" : "#ffffff",
						"primary" : "#6993FF",
						"secondary" : "#E5EAEE",
						"success" : "#1BC5BD",
						"info" : "#8950FC",
						"warning" : "#FFA800",
						"danger" : "#F64E60",
						"light" : "#F3F6F9",
						"dark" : "#212121"
					},
					"light" : {
						"white" : "#ffffff",
						"primary" : "#E1E9FF",
						"secondary" : "#ECF0F3",
						"success" : "#C9F7F5",
						"info" : "#EEE5FF",
						"warning" : "#FFF4DE",
						"danger" : "#FFE2E5",
						"light" : "#F3F6F9",
						"dark" : "#D6D6E0"
					},
					"inverse" : {
						"white" : "#ffffff",
						"primary" : "#ffffff",
						"secondary" : "#212121",
						"success" : "#ffffff",
						"info" : "#ffffff",
						"warning" : "#ffffff",
						"danger" : "#ffffff",
						"light" : "#464E5F",
						"dark" : "#ffffff"
					}
				},
				"gray" : {
					"gray-100" : "#F3F6F9",
					"gray-200" : "#ECF0F3",
					"gray-300" : "#E5EAEE",
					"gray-400" : "#D6D6E0",
					"gray-500" : "#B5B5C3",
					"gray-600" : "#80808F",
					"gray-700" : "#464E5F",
					"gray-800" : "#1B283F",
					"gray-900" : "#212121"
				}
			},
			"font-family" : "Poppins"
		};
	</script>
	<!--end::Global Config-->
	<!--begin::Global Theme Bundle(used by all pages)-->
	<script th:src="@{/assets/plugins/global/plugins.bundle.js}"></script>
	<script th:src="@{/assets/plugins/custom/prismjs/prismjs.bundle.js}"></script>
	<script th:src="@{/assets/js/scripts.bundle.js}"></script>


	<div layout:fragment="content-scripts"></div>
	<!--end::Global Theme Bundle-->
	<!--begin::Page Vendors(used by this page)-->
	<script
		th:src="@{/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js}"></script>
	<!--end::Page Vendors-->

	<!--begin::Page Scripts(used by this page)-->
	<script th:src="@{/assets/js/pages/widgets.js}"></script>

	<!-- <script th:src="@{/assets/js/custom.js}"></script> -->

	<!--end::Page Scripts-->
</body>
</html>